<!DOCTYPE html>
<html lang="en">
    <head>    
        <meta charset="UTF-8" />
        <title> CrowdTraQ </title>
        <!-- Import styles -->
        <link rel="stylesheet" href="./assets/styles.css"
        <!-- Import Vue.js -->
        <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="nav-bar"></div>
            <div class="logo">
                <img src="./assets/CrowdTraQLogo.png">
            </div>
            
            <div 
                id="room_code_display"
                v-if="!hasSubmitted">
                <label for="room">Room:</label>
                <select id="rooms" class="form-control">
                    <option v-for="roomCode in roomCodes">
                        {{ roomCode.name }}
                    </option>
                </select>
                <br>
                <br>
                <button
                    class="button"
                    v-on:click="joinRoom(selectedRoomId)"
                    >
                    <span>Join the {{ roomCodes[selectedRoomId].name }} room</span></button>
            </div>

            <!-- add more components here -->
            <div v-else>
                    <dash-board :connection="connection" :tokens="tokens"></dash-board>
            </div>
        </div>
        <!-- Import app -->
        <script src="main.js"></script>
        
        <!-- Import components -->
        <script src="./components/createRoom.js"></script>
        <script src="./components/dashBoard.js"></script>
        <script src="./components/addSong.js"></script>
        <!-- Mount App  -->
        <script>
            const mountedApp = app.mount('#app')
        </script>
    </body>
</html>