body {
    background-color: #0f1635;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: #45f4fd;
    text-align: center;
}

.nav-bar {
    background: linear-gradient(#45f4fd, #f950fe);
    height: 10px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 2px 15px -12px #f3f950;
    -moz-box-shadow: 0px 2px 15px -12px #f3f950;
    box-shadow: 1px 1px 5px #f3f950;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    padding: 8px;
  }

  .roomCodes {
    margin-top: 8px;
    margin: auto;
    padding: 8px;
    width: 50%;
    border: thick outset #55fe50;
    border-radius: 5px;
    cursor: pointer;
  }

  .button {
    margin: 30px;
    background-color: #f3f950;
    border-radius: 5px;
    width: 90%;
    height: 60px;
    letter-spacing: 3px;
    color: #0f1635;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
      inset 0 0.6em 2em -0.3em #55fe50,
      inset 0 0 0em 0.05em #55fe50;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }

.img-col {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10%;
    padding-left: 10%;
    width: 25%;
}

.img {
    width:60%; 
    height: auto;
    cursor: pointer;
}